$font_color: #000;
$background_mouseover_color: #5C5CE6;
$font_mouseover_color: #fff;
$background_click_color: #4B4BBA;
/**
 * btn
 */
[class^='fa-']{font: 30px 'FontAwesome'; }
//span {display: inline-block;padding: 20px}
.centerize{text-align: center;}
.fa-gplus-square:before{
  content: "\f0d4";
  color: #d34836;
}
.fa-twitter-square:before
{
  content: "\f081";
	color: #2caae1;
}
.fa-facebook-square:before
{
  content: "\f082";
	color: #3B579D;
}
.fa-github-square:before
{
  content: "\f092";
	color: #7A007A;
}
.fa-youtube-square:before
{
  content: "\f166";
	color: #FF0000;
}
.fa-instagram:before
{
  content: "\f16d";
	color: #A8594A;
}
.fa-linkedin-square:before
{
  content: "\f08c";
  color: #007cbc;
}