
@import "_css3-mixins";

.bgimg__section{
    background-image: url('../assets/img/wall.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 666px;
    height: 100vh;
    width: 100%;
}
#logo{
    width: 5em;
    height: 5em;
}
 @include media-query($on-palm) {
     #team-meet-icon{
         display: none;
         visibility: hidden;
     }
     .bgimg__section{
         background-position: center;
         background-attachment: inherit;
     }
 }
#intro-txt{
     text-align: center;
    margin: auto;
    font-size: 27px;
    color:rgb(74, 67, 67);
    background-color: rgba(253, 253, 253, 0.7);
    font-weight: 100;
    padding: 50px;
    position: absolute;
    top:60%;
    right: 10px;
    left: 10px;
}
#intro-link{
    text-align: center;
    margin: auto;
    position: absolute;
    //margin-top: 30px;
    top: 600px;
    right: 10px;
    left:10px;
            a{
                
                font-size: 20px;
                color:white;
                &:hover{
                 text-decoration: none;
                    color: red;
                }
                
            }
}
.btn_lg{
    text-align: center;
     margin: 100px 0;
            a{
                padding: 10px 20px;
                font-size: 22px;
                color:darken($color: $brand-color, $amount: 3%) ;
                @include transition(.6s all);
                &:hover{
                 text-decoration: none;   
                 background: lighten($color: $brand-color, $amount: 3%) ;
                 color: #fff;
                }
                border: 1px solid $brand-color;
                @include border-radius(3px);
            }
}
#blog__section{
    margin: 20px 0;
}
#team-meet-header{
    text-align: right;
    color: #343131;
    margin-top: 110px;
    padding-top: 8px;
    margin-bottom: 15px;
    margin-right: 15px;
    
}
.team-meet-container{
    text-align: right;
    font-size: 22px;
    color: #4c4848;
    margin-top: 9px;
    margin-right: 10px;
    
    
}
#team-meet-icon{
    float: left;
    height: 50%;
    width: 50%;
    margin: auto;
    margin-top: 55px;
}
#design-process-header{
      text-align: right;
    font-size: 30px;
    color: #343131;
    margin-top: 175px;
    border-top: 1px solid #cabfbf;
    padding-top: 90px;
    margin-right: 25px;
    margin-left: 25px;
}
#design-process-article{
    text-align: right;
    font-size: 20px;
    color: #4c4848;
    margin-top: 25px;
    margin-bottom: 60px;
    margin-right: 20px;
       margin-left: 25px;
}
#read-our-blog{
    text-align: right;
    font-size: 30px;
    color: #343131;
    margin-top: 150px;
    border-top: 1px solid #cabfbf;
    padding-top: 30px;
    margin-right: 20px;
    margin-left: 25px;
}
#read-our-blog-btn{
        text-align: center;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 30px;
            a{
                 padding: 5px;
                padding-right: 40px;
                padding-left: 40px;
                font-size: 20px;
                color:#660c0f;
                &:hover{
                 text-decoration: none;
                    @include animation(background-links 15s );
                }
                     border: 2px solid #aa0f0f;
                @include border-radius(25px);
            }
}    