---
layout: default
---

<div class="home">

  <h1 class="page-heading">پست های بلاگ:</h1>

  <div class="post-list">
    {% for post in site.posts  %}
      <div class="col col-3">
        {% if post.img %}
        <img src="{{ post.img }}" class="post lazy" align="center" />
        {% else %}
        <img src="/assets/img/noimg.jpg"
  class="post lazy" align="center" />
	{% endif %}</p>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-meta">// {{ post.author }}</span>
        <h5>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h5>
        <p>
	{{ post.content | strip_html | truncatewords:15 }}
	</p>
      </div>
    {% endfor %}
  </div>
  <br>
     <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 

</div>
