---
layout: default
---

<div class="home">

  <h1 class="page-heading">پست های بلاگ:</h1>

  <div class="post-list">
    {% for post in site.posts  %}
      <div class="col col-3">
        {% if post.img %}
        <img src="/assets/img/noimg.jpg" data-src="{{ post.img }}" class="post" align="center" />
        {% else %}
        <img src="" data-src="/assets/img/noimg.jpg"
  class="post" align="center" />
	{% endif %}</p>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-meta">// {{ post.author }}</span>
        <h5>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h5>
        <p>
	{{ post.content | strip_html | truncatewords:20 }}
	</p>
      </div>
    {% endfor %}
  </div>
  <br>
    

</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'cafeui';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>