---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date |   date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

                      
	<div>
    <button id="button" class="btn">سفارش یک پروژه</button>
  </div>
  </br>
	<div>به اشتراک بگذارید</div>
	<div>
		<a href="https://github.com/{{ site.github_username }}">
		<span class="fa fa-github-square fa-2X" id="icn" ></span>
		<a href="https://twitter.com/{{ site.twitter_username }}">
  	<span class="fa-twitter-square" id="icn"></span>
  	<a href="https://facebook.com/{{ site.facebook_username }}">
  	<span class="fa-facebook-square" id="icn"></span>
  	<a href="https://youtube.com/{{ site.youtube_username }}">
  	<span class="fa-youtube-square" id="icn"></span>
  	<a href="https://instagram.com/{{ site.instagram_username }}">
  	<span class="fa-instagram" id="icn"></span>
  	<a href="https://linkedin.com/{{ site.linkedin_username }}">
  	<span class=" fa-linkedin-square" id="icn"></span>
	</div>
	</br>
</div>        